//
//  Footer
//  ---------------------------------------------

@copyright__background-color: #2d2d2c;
@link__active__color_gm: #fc5900;

@total-columns: 24;
@checkout-sidebar__columns: 8;
@layout-column__sidebar-width: 5;
@layout-column-checkout__width-left: 6;

ul, ol{list-style: none;}

.product-item-name{
    min-height: 65px;
}

.product-item-info{width: 98% !important;}
