!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
/app/code/Magento/

!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt

# Start Deployment process
!Jenkinsfile
!swg_ci.yml
# End Deployment process
# Start Automation Tests
!/test
!/test/**
# End Automation Tests
# Start Performance Tests
!/test/performance
!/test/performance/**
# End Performance Tests
# Start Stress Tests
!/test/stress
!/test/stress/**
# End Stress Tests
/auth.json

# Agregado para que solo se versione /dev/composer-modules/
.docker/
.dockerignore
.editorconfig
.htaccess
.htaccess.sample
.magento.env.md
.php-cs-fixer.dist.php
.user.ini
CHANGELOG.md
Gruntfile.js.sample
LICENSE_AFL.txt
LICENSE_EE.txt
README_EE.md
SECURITY.md
app/autoload.php
app/bootstrap.php
app/etc/NonComposerComponentRegistration.php
app/etc/db_schema.xml
app/etc/di.xml
app/etc/env.php
app/etc/registration_globlist.php
app/etc/vendor_path.php
!/dev/composer-modules/*
/dev/tools/
/pub/
/bin/
auth.json.sample
/dev/tests/
/generated/
grunt-config.json.sample
/lib/
mutagen.sh
nginx.conf.sample
package.json.sample
php.dev.ini
/phpserver/
setup/
/vendor/
/var/
