<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Logger\Handler\Debug" type="GD\Cities\Model\CustomLogger" />
    <preference for="GD\Cities\Api\DistrictRepositoryInterface" type="GD\Cities\Model\DistrictRepository" />
    <preference for="GD\Cities\Api\Data\DistrictInterface" type="GD\Cities\Model\District" />
    <preference for="GD\Cities\Api\ServiceDistrictsInterface" type="GD\Cities\Model\ServiceDistricts" />
    <preference for="GD\Cities\Api\Data\DistrictSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ImportCitiesData" xsi:type="object">GD\Cities\Console\Command\Import</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="StreetAddresLabels" type="GD\Cities\Plugin\Checkout\LayoutProcessor" sortOrder="130" />
    </type>
</config>
